{{shhh (compute (perform fetchIssues page))}}
{{let selected (array)
      page 1
}}

<input type="text" value={{page}} oninput={{action (r/mut page) value="target.value"}}>

<button {{action (pipe 
  (toggle "allowSelection" this) 
  (action (mut selected) (array))
)}}>
  {{if allowSelection 'Disable' 'Enable'}} Selection
</button>
<button {{action (toggle "showPullRequests" this)}}>
  {{if showPullRequests 'Hide' 'Show'}} Pull Requests
</button>
<ul>
{{#each (without (if showPullRequests (array) (filter-by "pull_request" issues)) issues) as |issue|}}
  <li>
    <h3>
      {{#if allowSelection}}
        <input type="checkbox"
              onclick={{action (pipe (if (contains issue selected) (pipe (r 'without' issue selected) (r/mut selected)) (r 'append' selected))) issue}}
              checked={{contains issue selected}}
        >
      {{/if}}
      <a href={{issue.html_url}}>{{issue.title}}</a>
    </h3>
    <p>Submited by {{issue.user.login}}</p>    
  </li>
{{/each}}
</ul>